html {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

/**
* Resets
**/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

/**
* Colors
**/

:root {
    --dark: #0E0E11;
    --blue: #1A2B3C;
    --dark-blue: #0C1829;
    --light: #FFFFFF;
    --grey: #37373A;
    --accent: #F6AF00;
    --accent-2:  #85C441;
}

/**
* Typography Styling
**/

:root {
    --huge-font-size: clamp(1.802rem, 0.5217rem + 4.097vw, 4.209rem);
    --xxlarge-font-size: clamp(1.602rem, 0.7749rem + 2.6468vw, 3.157rem);
    --xlarge-font-size: clamp(1.424rem, 0.923rem + 1.6032vw, 2.3659rem);
    --large-font-size: clamp(1.266rem, 0.9942rem + 0.8698vw, 1.777rem);
    --medium-font-size: clamp(1.125rem, 1.0144rem + 0.354vw, 1.333rem);
    --normal-font-size: clamp(0.889rem, 0.83rem + 0.1889vw, 1rem);
    --small-font-size: clamp(0.702rem, 0.6765rem + 0.0817vw, 0.75rem);
    --xsmall-font-size: 0.563rem;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    color: var(--light);
}

h1 {
    font-size: var(--huge-font-size);
    font-weight: 600;
}

h2 {
    font-size: var(--xxlarge-font-size);
    font-weight: 600;
}

h3 {
    font-size: var(--large-font-size);
    font-weight: 600;
}

h4 {
    font-size: var(--large-font-size);
    font-weight: 600;
}

h5 {
    font-size: var(--medium-font-size);
    font-weight: 600;
}

h6 {
    font-size: var(--normal-font-size);
    font-weight: 600;
}

/* p {
    font-size: var(--normal-font-size);
    font-weight: 400;
} */

/**
* Buttons
**/

.anchor-button {
    display: block;
    text-decoration: none;
}

button,
.anchor-button {
    font-size: var(--medium-font-size);
    color: var(--light);
    border: none;
    padding: 0.5em 1.5em;
    background-color: var(--accent-2);
    cursor: pointer;
}

button:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
}

.tyre-btn {
    height: 165px;
    width: 165px;
    border-radius: 100px;
    font-size: var(--medium-font-size);
    color: var(--light);
    border: 15px solid var(--dark);
    padding: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: transparent;
}

#tyre-h {
    --color-h: 0;
    --color-s: 0%;
    --color-l: 100%;
}
#tyre-w {
    --color-h: 207;
    --color-s: 100%;
    --color-l: 38%;
}
#tyre-m {
    --color-h: 53;
    --color-s: 100%;
    --color-l: 43%;
}
#tyre-s {
    --color-h: 355;
    --color-s: 100%;
    --color-l: 50%;
}
#tyre-i {
    --color-h: 120;
    --color-s: 100%;
    --color-l: 32%;
}
#tyre-h.tyre-btn > span,
#tyre-w.tyre-btn > span,
#tyre-m.tyre-btn > span,
#tyre-s.tyre-btn > span,
#tyre-i.tyre-btn > span{
    border: 5px solid hsl(
        var(--color-h), 
        var(--color-s), 
        var(--color-l)
    );
}

/* .tyre-btn:hover > span{
    border: 5px solid hsl(
        var(--color-h), 
        var(--color-s), 
        calc(var(--color-l)*0.5)
    ) !important;
} */

.tyre-btn:hover,
.tyre-btn.selected,
.tyre-btn:hover > span,
.tyre-btn.selected > span {
    border: 10px solid hsl(
        var(--color-h), 
        var(--color-s), 
        calc(var(--color-l)*0.5)
    ) !important;
}
.tyre-btn > span {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: var(--dark);
}



/**
* Elements
**/
.hidden {
    display: none;
}


/**
* Section Styling
**/

header {
    position: fixed;
    display: flex;
    flex-flow: row;
    gap: 2rem;
    padding: 1rem;
}

header img {
    height: 150px;
    width: auto;
}

#logo-seperator {
    height: 50px;
    border: 1px solid var(--light);
}

body {
    background-image: url(../assets/imgs/section-bg.png);
    background-attachment: fixed;
    background-position: bottom center;
}

section {
    height: 100svh;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16/9;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

section h1,
section h2,
section p {
    text-align: center;
}

.inner-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin: auto;
}

/**
* Section Specific Styling
**/ 

/** Start **/
#start-section p {
    max-width: 600px;
    font-size: var(--medium-font-size);
}

/** Video **/
#video-section {
    position: relative;
    z-index: 100;
}
#video-section video {
    height: 100svh;
    width: 100%;
    aspect-ratio: 16/9;
}

/** Tyre Selection **/

#tyre-selection-section .inner-container > p {
    font-size: var(--medium-font-size);
}

#scenario-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 5rem;
}

.scenario-condition-wrapper {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    margin: 2rem 0;
}

/* .scenario-condition-value-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 2px solid var(--accent-2);
    border-radius: 999px;
} */
.scenario-condition-value-wrapper {
    font-size: var(--xlarge-font-size) !important;
    font-weight: 600;
}

#weather-condition .scenario-condition-value-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    column-gap: 0.5em;
}
#weather-condition .scenario-condition-value-wrapper svg {
    width: 1.2em;
}

.scenario-condition-description span:nth-child(2) {
    color: var(--accent-2);
}

#tyre-selction-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2rem;
}

.tyre-btn {
    position: relative;
}

.tyre-btn.selected::before{
    font: var(--fa-font-solid);
    font-size: 2rem;
    content: '\f0dd';
    position: absolute;
    top: -10%;
    left: 43%;
}

.tyre-btn.selected::before {
    color: hsl(
            var(--color-h), 
            var(--color-s), 
            var(--color-l)
        );
}


.tyre-btn.selected:disabled:not([data-penalty="0"]):before {
    color: var(--accent);
}
.tyre-btn.selected[data-penalty="0"]:disabled:before {
    color: var(--accent-2);
}
#message-container {
    color: var(--dark);
    padding: 1em;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    bottom: 90%;
}
#message-container p {
    text-align: left;
}

#message-container[data-answer="incorrect"] {
    background-color: color-mix(in srgb, var(--accent) 55%, white);
    border: 5px solid var(--accent);
}

#message-container[data-answer="correct"] {
    background-color: color-mix(in srgb, var(--accent-2) 55%, white);
    border: 5px solid var(--accent-2);
}

/** Time Section **/

#game-timer {
    font-size: var(--huge-font-size);
    font-weight: 600;
    margin: 5rem 0;
}

/** Summary Section **/

#summary-section h3 {
    font-size: var(--medium-font-size);
    font-weight: 400;
}
#summary-section p {
    font-size: var(--huge-font-size);
    font-weight: 600;
}

#summary-section p,
#summary-section h3 {
    text-align: center;
}

.results-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
    width: 100%;
}

.watermark {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    width: 100%;
    padding: 1em;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255, 0.5);
    pointer-events: none;
}